@import "tailwindcss";

html, body, #__next {
 @apply bg-black text-white min-h-screen;
}
@keyframes wave {
  0%, 100% { height: 2px; }
  50% { height: 6px; }
}
.animate-wave {
  animation: wave 1.5s ease-in-out infinite;
}
@keyframes float {
  0%, 100% { transform: rotateX(5deg) rotateY(5deg) translateY(0); }
  50% { transform: rotateX(3deg) rotateY(3deg) translateY(-10px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}